<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="autofacConfiguration" type="Autofac.Configuration.SectionHandler, Autofac.Configuration" />
  </configSections>
  <appSettings>
    <add key="PluginsPath" value="." />
    <add key="DependenciesPath" value="." />
    <!--add key="ClientAssembly" value="cache\NGS.Generated.ClientModel.dll" /-->
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.serviceModel>
    <client>
      <endpoint name="" 
                address="https://localhost/Server/SoapApplication.svc" 
                binding="basicHttpBinding" 
                bindingConfiguration="httpBinding"
                contract="Revenj.Api.ISoapApplication" />
      <endpoint name="ws" 
                address="https://localhost/Server/SoapApplication.svc" 
                binding="wsHttpBinding" 
                bindingConfiguration="wsBinding" 
                contract="Revenj.Api.ISoapApplication" />
    </client>
    <bindings>
      <basicHttpBinding>
        <binding name="httpBinding"
                 closeTimeout="00:02:00" 
                 maxBufferSize="8388608" 
                 maxReceivedMessageSize="8388608">
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="UserName"/>
          </security>
          <readerQuotas maxStringContentLength="8388608" />
        </binding>
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="wsBinding" closeTimeout="00:02:00" maxReceivedMessageSize="8388608">
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="UserName" />
          </security>
          <readerQuotas maxStringContentLength="8388608" />
        </binding>
      </wsHttpBinding>
    </bindings>
  </system.serviceModel>
  <autofacConfiguration>
    <modules>
      <module type="NGS.Wpf.Shell.StandardModule, NGS.Wpf.Shell" />
    </modules>
  </autofacConfiguration>
</configuration>